<h2 class="ui center aligned icon header">
  <%= image_tag("favicon.png", class: "ui massive image") %><br>
  ChattingApp
</h2>

<div class="ui fluid grid">
  <div class="four wide fluid column">
    <div class="ui fluid raised card">
      <div class="content">
        <div class="ui vertical pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div> 
    </div>   
  </div>
  <div class="twelve wide fluid column">
    <div class="ui fluid raised card">
      <div class="content">
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Elliot Fu</em>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Stevie Feliciano</em> 
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Helen Troy</em> 
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Christian Rocha</em> send a message
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        
          <div class="ui fluid left icon input">
            <input type="text" placeholder="Write a message...">
            <div class="ui fluid icon">
              <i class="rounded bordered fluid inverted blue pencil large icon rounded"></i>
            </div>  
          </div>
      </div>  
    </div>    
  </div>
</div>
