@import 'semantic-ui';

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

.ui.small.feed {
  text-align: right;
}

.ui.feed > .event > .content {
  text-align: right;
}

.ui.grid {
  margin-top: 20px;
}

.card {
  height: 500px;
}

.summary em {
  color: blue;
}

i.icon {
  border-radius: 5px;
  margin-left: 0.08em;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}